<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>确认订单</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

      <div class="order">
          <div class="address_list">

            <ion-list *ngIf="userinfo && !address">
                <ion-item [navPush]='AddressPage'>
                    <ion-icon name="ios-pin-outline" item-start></ion-icon>

                    请添加您的收货地址
                    <ion-icon name="ios-arrow-forward"  item-end></ion-icon>

                </ion-item>
            </ion-list>


            <ion-list *ngIf="userinfo && address">
              <ion-item [navPush]='AddressPage'>
                  <h2>{{address.name}}   {{address.phone}}</h2>
                  <p>{{address.address}}</p>
                  <ion-icon name="ios-arrow-forward"  item-end></ion-icon>
              </ion-item>
          </ion-list>



            <ion-list *ngIf="!userinfo">
                <ion-item class="nologin">                
                    <p>您还没有登录，登录后同步您的订单信息...</p>
                    <button ion-button color="light"  [navPush]='LoginPage' [navParams]="{history:'order'}">登录</button>
                    
                </ion-item>
            </ion-list>

          </div>

          <div class="product_list">

              <ion-list>
                <ion-item *ngFor="let item of list" >
                  <ion-thumbnail item-left>
                    <img [src]="config.apiUrl+item.product_pic" />
                  </ion-thumbnail>
                  <h2>{{item.product_title}}</h2>
                  <p><span class="price">¥{{item.product_price}}</span> <span class="count">x{{item.product_count}}</span></p>
                  
                  <p>属性：{{item.product_attr}}</p>

                </ion-item>
              </ion-list>


                <ion-list inset class="submit_info">
                    <ion-item>                   
                      <p>在线支付</p>
                      <p>京东快递+快递运输</p>
                      <p>工作日、双休日于假日均可送货</p>
                    
                    </ion-item>
                    <ion-item-divider>
                      
                    </ion-item-divider>
                    <ion-item class="order_price">
                        <ul>
                          <li>商品总金额 <span>¥124214</span></li>
                          <li>立减 <span>-¥5</span></li>
                          <li>运费 <span>+¥0</span></li>
                        </ul>
                    </ion-item>

                    <ion-item-divider>
                      
                    </ion-item-divider>
                    <ion-item>
                        <input type="text" placeholder="选填:给商家留言45字以内" />
                    </ion-item>
              
                </ion-list>
          </div>
    </div>
  
</ion-content>



<ion-footer>
    <ion-toolbar>
      <div class="order_footer">
  
        <span>实付款: ¥2934</span>
       
        <div class="buy_order">
            立即下单
        </div>
      </div>
    </ion-toolbar>
  </ion-footer>